
/* Emoj (frist task) */
.stats-grid:nth-child(1)::before {
    position: absolute;
    content: "🔥";
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    
}
span.stat-number {
    padding: 1.5rem;
}
 
/* highlight third card (second task) */

.stats-grid:nth-child(3) {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.stats-container > .stats-grid:nth-child(3) .stat-number,
.stats-container > .stats-grid:nth-child(3) .stat-label {
    color: white 
}

/* hover effect */

.stat-grid:hover {
    box-shadow: 5px 5px 5px rgb(54, 48, 48);
}
 
/* Intermediate card color*/
.workout-plan:has(.difficulty.intermediate) {
  background-color: #fff8ba;
}
/* frist and last card color*/
.exercise-item:nth-child(1) {
  background-color: #d5fbdf;
}
.exercise-item:nth-child(4) {
  background-color: #d5fbdf;
}
/* added emoji in the second and last cards */
.exercise-item:nth-child(2)::before {
  content: "⚡";        
  display: block;
  font-size: 1.2rem;
  margin-bottom: 4px;   
}

.exercise-item:nth-child(4)::before {
  content: "⚡";        
  display: block;
  font-size: 1.2rem;
  margin-bottom: 4px;   
}